@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #efefef;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #777;
}
.wrap {
  margin: 50px auto;
  width: 400px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 15px #999;
  position: relative;
}

/* 상단메뉴 */

.menu {
  width: 100%;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 23px;
}

/* 프로필 */

article {
  width: 100%;
}
.profile {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

/* 프로필 이미지 */

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #ddd;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 5px 5px 15px #977a97;
}
.profile-img img {
  display: block;
  width: 100%;
}

/* 프로필 텍스트 */

.member1 {
  font-family: "arial";
  text-align: center;
  padding: 15px;
  color: #333;
}
.member1 p {
  padding: 5px;
  font-size: 18px;
  color: #777;
}

/* view more 박스 */

.view-box {
  margin: 25px;
  width: 180px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px #977a97;
  background: linear-gradient(45deg, #ca8aca, #fdb7b7);
}
.view-box p {
  font-family: "roboto";
  padding: 15px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}
.view-box:hover {
  box-shadow: 5px 5px 15px #6d586d;
}

/* 컨택 */

.contact-link {
  width: 100%;
}

.contact-link li {
  margin: auto;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 0px;
}
.contact-link li:first-of-type {
  border-bottom: 1px solid #eee;
}

.contact-link i {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}
.contact-link span {
  display: inline-block;
  line-height: 25px;
  font-family: "roboto";
  padding-left: 15px;
  font-weight: 500;
}

/* 멤버별 프로필 링크 만들기 */

.others {
  padding: 30px 0 60px 0;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 30px;
}
.others a{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ca8aca;
  /* box-shadow: 5px 5px 13px #a488a4; */
  transition: all 0.1s;
}
.others a:first-of-type{
  background-color: #f4b7fd;
  box-shadow: 5px 5px 13px #a488a4;
}
.others a:nth-of-type(2){
  background-color: #b7f2e6;
  box-shadow: 5px 5px 13px #88b7ae;
}
.others a:nth-of-type(3){
  background-color: #fdeaa3;
  box-shadow: 5px 5px 13px #aca280;
}
.others a:nth-of-type(4){
  background-color: #c8e4ff;
  box-shadow: 5px 5px 13px #8ba1b6;
}
.others a:hover{
  filter: saturate(150%);
}
.others a.on{
  filter: saturate(150%);
}
